h1,h3{
    text-align: center;
}

.btn-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 250px;
    height: 240px; 
    margin: auto;
}

.btn{
    height: 100px;
    width: 100px;
    border: 5px solid black;
    border-radius: 20px;
    margin: auto;
}

.red{
    background-color: rgb(212, 99, 99);
}
.green{
    background-color: rgb(67, 175, 169);
}
.yellow{
    background-color: rgb(221, 164, 88);
}
.blue{
    background-color: rgb(99, 134, 222);
}

.flash{
    background-color: white;
}